body {
  background: url('background.jpg') no-repeat center center fixed;
  background-size: cover;
  margin: 0;
  font-family: Arial, sans-serif;
}

header {
  background-color: hotpink;
  color: #4B006E;
  padding: 2rem 0;
  text-align: center;
  font-size: 2.5rem;
  letter-spacing: 2px;
}
header h1, header h2, header p:not(.icon) {
  font-weight: bold;
  font-style: italic;
  text-align: center;
}

header .icon {
  font-weight: normal;
  font-style: normal;
}
p{
  font-style: italic;
  text-align: center;
  font-weight: bold;
}
h2{
  font-weight: bold;
  font-style: none;
  text-align: left;
}
.feedback-container {
  display: flex;
  flex-direction: column;
  align-items: center; 
}
.feedback-container form {
  display: flex;
  flex-direction: column;
  max-width: 600px; 
  width: 100%;
  max-width: 400px;
  padding: 32px;
}
.feedback-container label,
.feedback-container input,
.feedback-container textarea,
.feedback-container button {
  margin-bottom: 10px;
  font-size: 1.2em;
  padding: 12px;
  width: 100%;
  box-sizing: border-box;
}
.order-container form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    padding: 32px;
}
.order-container label,
.order-container input,
.order-container textarea,
.order-container button {
  margin-bottom: 10px;
  font-size: 1.2em;
  padding: 12px;
  width: 100%;
  box-sizing: border-box;
}
.order-button {
    display: inline-block;
    padding: 8px 8px;
    width: 120px;
    text-align: center;
    background-color: hotpink;
    color: white;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
    transition: background 0.3s;
}
.order-button:hover {
    background-color: hotpink;
}

nav a { 
  color: #fff;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}
nav a:hover {
  text-decoration: underline;
}
    
  .image-gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  justify-items: center;
}

.image-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bakery-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border: 5px solid pink;
  border-radius: 10px;
  background: white;
}

.image-label {
  margin-top: 0.5rem;
  font-size: 1.1rem;
  color: #0c0c0c;
  text-align: center;
}
.go-back-container {
  display: flex;
  flex-direction: column;
  align-items: center; 
}
  
footer {
  background-color: hotpink;
  color: white;
  text-align: center;
  padding: 1.5rem 0;
  font-size: 1.2rem;
  position: relative;
  width: 100%;
  bottom: 0;
  letter-spacing: 1px;
